.card{
		width: 30%;
		border: 1px solid;
		box-shadow: 5px 10px 8px #888888;
}
			
.container{
		padding:12px 24px;
}
.lxgw-wenkai-tc-regular {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
}
